<table class="border-collapse border border-gray-400">
  <thead>
  <tr>
    <th class="px-4 py-2 bg-orange-500 border border-gray-500">Name</th>
    <th class="px-4 py-2  bg-orange-500 border border-gray-500">Benutzer</th>
    <th class="px-4 py-2  bg-orange-500 border border-gray-500"></th>
  </tr>
  </thead>
  <tbody>
  <% teams.each do |team| %>
    <%= render partial: "teams/team", locals: { team: team } %>
  <% end %>
  </tbody>
</table>
