<div class="flex items-center">
  <h1 class="text-4xl">Meine Teams</h1>
  <%= link_to "Neues Team", new_team_path, class: "m-4 px-3 py-2 rounded-lg bg-sky-500 text-black hover:bg-sky-200 hover:text-black" %>
</div>

<div id="teams" class="block">
  <%= render partial: "teams/teams", locals: { teams: @teams } %>
</div>
