<div id="<%= dom_id membership %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Team:</strong>
    <%= membership.team_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= membership.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Role:</strong>
    <%= membership.role_id %>
  </div>
</div>
