<%= link_to path,
            class: "mb-2 flex items-center justify-center p-4 text-xl font-medium text-white rounded-lg bg-orange-500 hover:text-orange-500 hover:bg-orange-200" do %>
  <%= icon %>
  <span class="pl-2"><%= text %></span>
<% end %>
