<div id="<%= dom_id receipt %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Shopped at:</strong>
    <%= receipt.shopped_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Shop:</strong>
    <%= receipt.shop_id %>
  </div>
</div>
