<% content_for :title, "Kassenbons" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Kassenbons</h1>
    <%= link_to "New receipt", new_receipt_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="receipts" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @receipts.any? %>
      <div class="relative flex flex-col w-full h-full overflow-auto text-gray-700 bg-white shadow-md rounded-lg bg-clip-border">
        <table class="w-full text-left table-auto min-w-max text-slate-800">
          <thead>
          <tr>
            <th class="p-4">Einkaufsdatum</th>
            <th class="p-4">Geschäft</th>
            <th class="p-4"></th>
          </tr>
          </thead>
          <tbody>
            <% @receipts.each do |receipt| %>
              <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
                <%= render receipt %>
              </div>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p class="text-center my-10">No receipts found.</p>
    <% end %>
  </div>
</div>

